<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="file" xsi:type="File"
        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
        fileName="${basedir}/logs/AppLog.${shortdate}.txt"
        maxArchiveFiles="10"
        archiveAboveSize="1024000" />
  </targets>

  <rules>
    <logger name="*" writeTo="file" />
  </rules>
</nlog>